<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="gatepass" connectionString="Server=WIN-IU3ACLEQUUI;Database=cs_crud;User Id=user3;Password=twainc.;"/>
  <add name="TestingPhase.Properties.Settings.cs_crudConnectionString" connectionString="Data Source=192.168.0.251;Initial Catalog=cs_crud;Persist Security Info=True;User ID=user3;Password=twainc." providerName="System.Data.SqlClient"/>
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
