<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="gatepass" connectionString="Server=WIN-IU3ACLEQUUI;Database=cs_crud;User Id=user3;Password=twainc.;"/>
		
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>